{% extends "repository/base.html" %}

{% block content %}
{% load crispy_forms_filters %}
<section class="section">
    <div class="columns is-centered">
        <div class="column is-7">
            <h4 class="title is-4">Crear Nuevo Repositorio</h4>
            <p class="subtitle is-6">
                Almacena de forma segura el código de configuración de tu servidor privado
            </p>

            <hr />

            <form action="{% url "repo_create" %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <!-- campo de nombre -->
                    <div class="field">
                        {{ form.name|as_crispy_field}}
                    </div>
                    <!-- fin -->
                </div>

                <div class="field">
                    <!-- descripcion -->
                    {{ form.description|as_crispy_field}}
                    <!-- fin -->
                </div>

                <hr />

                <div class="field">
                    <!-- remotos -->
                    {{ form.remote|as_crispy_field}}

                    <!-- fin -->
                </div>

                <hr />

                <button class="button is-primary">Crear repositorio</button>
            </form>

        </div>
    </div>
</section>
{% endblock content %}