<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>

    {% load crispy_forms_filters %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7">
                    <h4 class="title is-4">Crear Nuevo Repositorio</h4>
                    <p class="subtitle is-6">
                        Almacena de forma segura el código de configuración de tu servidor privado
                    </p>

                    <hr />

                    <form id="create-repo-form">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                {{ form.name|as_crispy_field}}
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                {{ form.description|as_crispy_field}}
                            </div>
                        </div>

                        <hr />

                        <div class="field">
                            <div class="control">
                                {{ form.remote|as_crispy_field}}
                            </div>
                        </div>

                        <hr />

                        <div class="field">
                            <label class="label">Crear README.md</label>
                            <div class="control">
                                <label class="checkbox">
                                    {{ form.readme_md|as_crispy_field}}
                                </label>
                            </div>
                            <p class="help">Un README.md proporciona una primera impresión de tu proyecto.</p>
                        </div>

                        <hr />

                        <button class="button is-primary">Crear repositorio</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>