{% extends "repository/base.html" %}

{% block content %}
{% load repo_tags %}

<section class="section">
    <div class="columns is-vcentered">
        <div class="column is-narrow">
            <figure class="image is-48x48">
                <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/64x64.png">
            </figure>
        </div>

        <div class="column">
            <p class="title is-5">Full Name</p>
            <p class="subtitle is-6">Username</p>
        </div>
    </div>
</section>

<hr>

<div class="columns">
    <div class="column">
        <div class="control has-icons-left">
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" id="searchRepo" placeholder="repositorio">
                <span class="icon is-left">
                    <i class="fas fa-search"></i>
                </span>
                <span class="icon is-right">
                    <i class="fas fa-code"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="column is-narrow">
        <div class="control has-icons-left">
            <div class="select">
                <select>
                    <option value="main">Nombre</option>
                    <option value="develop">Fecha de creacion</option>
                </select>
            </div>
            <div class="icon is-small is-left">
                <i class="fas fa-sort"></i>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    {% for repo in object_list %}
    <a href="{{repo.name}}" class="panel-block is-flex is-flex-direction-column is-align-items-self-start">
        <span class="has-text-weight-bold has-text-primary">{{repo.name}}</span>
        <span class="has-text-ellipsis">{{repo.description}}</span>
        <div class="block">
            <small class="is-small">creado el {{repo.created|branch_date}}</small>
        </div>
    </a>
    {% empty %}
    <div class="panel-block is-flex is-justify-content-center">
        <p class="has-text-ellipsis subtitle is-6">No hay repositorios para mostrar</p>
    </div>
    {% endfor %}
</div>

{% endblock content %}