{% extends "repository/base.html" %}

{% block styles %}
.has-addons {
    --bulma-field-block-spacing: 0;
}

.panel-block.columns {
    margin: 0;
}
{% endblock styles %}

{% block content %}
{% load repo_tags %}

<section class="section">
    <div class="columns is-vcentered">
        <div class="column is-narrow">
            <figure class="image is-48x48">
                <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/64x64.png">
            </figure>
        </div>

        <div class="column">
            <p class="title is-5">Repo Name</p>
        </div>
    </div>
</section>

<hr />

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="control has-icons-left">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="commit">
                    <span class="icon is-left">
                        <i class="fas fa-search"></i>
                    </span>
                    <span class="icon is-right">
                        <i class="fas fa-code"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="column is-narrow">
            <div class="control has-icons-left">
                <div class="select">
                    <select>
                        <option value="develop">Commiter</option>
                        <option value="develop">Fecha de creacion</option>
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fas fa-sort"></i>
                </div>
            </div>
        </div>
    </div>

    {% for commits in commits_list %}
    <div class="panel">
        <a class="panel-block is-active panel-head">
            <div class="level is-full">
                <div class="level-left">
                    <span class="has-text-weight-bold">{{ commits.commits|length}} commits</span>
                </div>
                <div class="level-center">
                    <span class="has-text-ellipsis">{{ commits.date}}</span>
                </div>
            </div>
        </a>

        {% for commit in commits.commits %}
        <a href="#" class="panel-block columns">
            <div class="is-flex is-flex-direction-column is-align-items-self-start">
                <span class="has-text-weight-bold has-text-primary">{{ commit.commiter }}</span>
                <span>{{ commit.message }}</span>

                <div>
                    <small class="has-text-text">{{commit.stats.files}} archivos:</small>
                    <small class="has-text-success">+{{ commit.stats.insertions }}</small>
                    <small class="has-text-danger">-{{ commit.stats.deletions }}</small>
                </div>
                <span class="tag is-dark">{{ commit.hash }}</span>
            </div>
        </a>
        {% endfor %}

    </div>
    {% endfor %}
</section>
{% endblock content %}

